<style>
    * {
        outline: 1px dotted grey;
    }
    span {
        display: inline-block;
        padding: 1%;
        width: 17%;
        background: peru;
    }
    .black {
        background: black !important;
    }
    .white {
        color: white !important;
    }
    .standalone {
        background: navy;
        color: white;
        top: 100px;
        left: 100px;
        font-size: 2em;
        z-index: 1;
    }
    .modalHolder {
        background: black !important;
    }

</style>

<span class="modal" data-before-open="fn1" data-id='s1'>hello</span>
<span class="modal" data-before-open="fn2" data-id='s2'>hello</span>
<span class="modal" data-before-open="fn3" data-id='s3'>hello</span>
<span class="modal" data-id='s4'>hello</span>

<div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus earum, dolore tenetur repellat corporis suscipit sequi reprehenderit harum voluptatum, ipsum, dolor quam in asperiores odit consequuntur architecto? Officiis, odit repudiandae!</div>

<button id="standalone">standalone</button>
<script src="./bundle.js"></script>
